body {
  margin: 0;
  background: center top url(images/map.jpg) fixed;
  font-family: "myriad-pro", sans-serif;
}

#logo {
  text-indent: -9999px;
  margin: 0;
  padding: 100px 0;
  text-align: center;
  background: white center center url(images/logo.png) no-repeat;
  border-bottom: 3px solid #b1b1b1;
}

article, section {
  width: 650px;
  margin: 0 auto;
}

article h1 { }
article section { display: none; }
