body {
  margin: 0;
  background: center top url(images/map.jpg) fixed;
}

#logo {
  margin: 0;
  padding: 75px 0;
  text-align: center;
  background: white;
  border-bottom: 3px solid #b1b1b1;
}

article, section {
  width: 650px;
  margin: 0 auto;
}

article h1 { }
article section { display: none; }
